* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Arial', sans-serif;
     background: linear-gradient(to right, #a216c5, #a1271f);
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      background: linear-gradient(to right, #a216c5, #b11ebe);
      padding: 40px;
      border-radius: 12px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      width: 100%;
      max-width: 400px;
    }

    .container h1 {
      text-align: center;
      margin-bottom: 30px;
      font-size: 2em;
      color: #0f0909;
    }

    label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
      color: #0c0707;
    }

    .password-container {
      position: relative;
    }

    .toggle-password {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      background: none;
      border: none;
      color: #8000ff;
      cursor: pointer;
      font-size: 0.9em;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: none;
      border-radius: 6px;
      background-color: #fff;
      color: #000;
      font-size: 1em;
    }

    input:focus {
      outline: 2px solid #a64dff;
    }

    .error-message {
      color: #ff9999;
      font-size: 0.85em;
      margin-top: -15px;
      margin-bottom: 15px;
      display: none;
    }

    button[type="submit"] {
      width: 100%;
      padding: 12px;
       background: linear-gradient(to right,#cc230c, #7a1294, #cc230c);
      border: none;
      border-radius: 16px;
      color: white;
      font-size: 1em;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button[type="submit"]:hover {
      background-color: #a245ff;
    }

    .footer {
      margin-top: 20px;
      text-align: center;
      font-size: 0.9em;
      color: #ccc;
    }
